<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hospital Manager Enterprise</title>
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><span><i class="fa fa-hospital-o"></i> Hosptial Manager Enterprise</span></a>
            </div>

            <div class="navbar-collapse collapse">
@if (Request.IsAuthenticated)
{ 
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action("PatientList", "Patient")"><span><i class="fa fa-wheelchair"></i> Patients</span></a></li>
                    <li><a href="@Url.Action("PatientRego", "Patient")"><span><i class="fa fa-edit"></i> Registration</span></a></li>
                    <li><a href="@Url.Action("PatientVisits", "Patient")"><span><i class="fa fa-users"></i> Visits</span></a></li>
                    <li><a href="@Url.Action("DoctorList", "Doctor")"><span><i class="fa fa-user-md"> Doctors</i></span></a></li>
                    <li><a href="@Url.Action("BedList", "Bed")"><span><i class="fa fa-user"></i> Beds</span></a></li>
                    <li><a href="@Url.Action("SiteMap", "Home")"><span><i class="fa fa-sitemap"></i> SiteMap</span></a></li>

                </ul>
}  
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-muted">&copy; @DateTime.Now.Year - Hospital Manager Enterpise v1.0</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
