@using Hospital.Interfaces

@{
    ViewBag.Title = "PatientList";
}

<h2>Patient Visits</h2>

@model IEnumerable<IVisit>

<!--
    Staff member should be able to filter the
details of patient visits by patient name, date
of visit and date of discharge.
-->

<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>In-Patient</th>
            <th>Doctor</th>
            <th>Bed</th>
            <th>Visit</th>
            <th>Discharge</th>
            <th>Symptoms</th>
            <th>Disease</th>
            <th>Treatment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@item.isInPatient</td>
                <td>@item.DrName</td>
                <td>@item.BedName</td>
                <td>@item.DateOfVisit</td>
                <td>@item.DateOfDischarge</td>
                <td>@item.Symptoms</td>
                <td>@item.Disease</td>
                <td>@item.Treatment</td>
            </tr>
        }
    </tbody>
</table>
