@using Hospital.Models

@{
    ViewBag.Title = "Patient Visit Log";
}

<h2><i class="fa fa-users"></i> Patient Visits</h2>

@model ViewModel


<form class="form-inline search" role="form" method="post" href="@Url.Action("PatientVisits", "Patient")">
    <div class="form-group">
        <label for="filter-name" class="col-sm-4 control-label">Patient Name</label>
        <div class="col-sm-4">
            <input id="Search.Name" name="Search.Name" class="span2 search-query form-control" type="text" placeholder="Patient name to filter by ..." />
            @Html.ValidationMessageFor(model => model.Search.Name)
        </div>
    </div>
   
    <div class="form-group">
        <label for="Search.DateOfVisit" class="col-sm-5 control-label"><i class="fa fa-calendar-o"></i> Admission</label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Search.DateOfVisit, new { htmlAttributes = new { @class = "form-control span2 search-query" } })
            @Html.ValidationMessageFor(model => model.Search.DateOfVisit, "", new { @class = "text-danger" })
        </div>
    </div>
   
    <div class="form-group">
        <label for="Search.DateOfDischarge" class="col-sm-5 control-label"><i class="fa fa-calendar-o"></i> Discharge</label>
        <div class="col-md-4">
            @Html.EditorFor(model => model.Search.DateOfDischarge, new { htmlAttributes = new { @class = "form-control span2 search-query" } })
            @Html.ValidationMessageFor(model => model.Search.DateOfDischarge, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Address</th>
            <th>Type</th>
            <th>Doctor</th>
            <th>Bed</th>
            <th>Admission</th>
            <th>Discharge</th>
            <th>Symptoms</th>
            <th>Disease</th>
            <th>Treatment</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PatientVisitations)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Address</td>
                <td>@(item.isInPatient ? "in-patient" : "out-patient")</td>
                <td>@item.DrName</td>
                <td>@item.BedName</td>
                <td>@item.DateOfVisit</td>
                <td>@item.DateOfDischarge</td>
                <td>@item.Symptoms</td>
                <td>@item.Disease</td>
                <td>@item.Treatment</td>
                <td>
                    @if (item.isInPatient)
                    {

                        <button class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("PatientDischarge", "Patient", new { VisitID = item.Id })'"><i class="fa fa-sign-out"></i> Discharge </button>
                    }
                </td>       
            </tr>
        }
    </tbody>
</table>
