@using Hospital.Interfaces

@{
    ViewBag.Title = "PatientList";
}

<h2>Patient Visits</h2>

@model IEnumerable<IVisit>

<!--
    Staff member should be able to filter the
details of patient visits by patient name, date
of visit and date of discharge.
-->

<!--
Details of patient visits: should normally contain information as- patient name, address,
type (in or out), problem (invent some, be creative!!) and diagnosis (medicine, surgery,
etc.), date of visit and date of discharge (in case of an in patient).
-->

<h5>TODO joins etc so it shows better info not just id's</h5>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>PatientType</th>
            <th>Doctor ID</th>
            <th>Patient ID</th>
            <th>Bed ID</th>
            <th>Date of Visit</th>
            <th>Date of Discharge</th>
            <th>Symptoms</th>
            <th>Disease</th>
            <th>Treatment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.PatientType</td>
                <td>@item.DoctorID</td>
                <td>@item.PatientID</td>
                <td>@item.BedID</td>
                <td>@item.DateOfVisit</td>
                <td>@item.DateOfDischarge</td>
                <td>@item.Symptoms</td>
                <td>@item.Disease</td>
                <td>@item.Treatment</td>
            </tr>
        }
    </tbody>
</table>
