@using Hospital.Interfaces

@{
    ViewBag.Title = "Patient List";
}

<h2><i class="fa fa-wheelchair"></i>  Patients on File</h2>

@model IEnumerable<IPatient>
    

@Html.AntiForgeryToken()
    
 <form class="form-inline search" role="form" href="@Url.Action("PatientList", "Patient")">
    <div class="form-group has-feedback">
        <input class="span2 search-query form-control" type="text" name="Name" placeholder="Name to filter by ..." />
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
    </div>
</form>

<table class="table table-borderd table-striped table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date Of Birth</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Date of Registration</th>
            <th>Emergency Contact</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.DateOfBirth</td>
                <td>@item.Address</td>
                <td>@item.Phone</td>
                <td>@item.DateOfRegistration</td>
                <td>@item.EmergencyContact</td>
            </tr>
        }
    </tbody>
</table>
