@using Hospital.Interfaces

@{
    ViewBag.Title = "DoctorList";
}

<h2><i class="fa fa-user-md"></i>  Doctors on Staff</h2>

<form class="form-inline search" role="form" href="@Url.Action("PatientList", "Patient")">
    <div class="form-group has-feedback">
        <input class="span2 search-query form-control" type="text" name="Name" placeholder="Name to filter by ..." />
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i> Search</button>
    </div>
</form>


@model IEnumerable<IDoctor>
<div class="table-container">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Phone</td>
                    <td><button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("AssignDoctor", "Doctor", new { DoctorID = item.Id })'"><i class="fa fa-medkit"></i> Assign Patient </button></td>
                    <td><button class="btn btn-default btn-sm" onclick="location.href='@Url.Action("HistoryDoctor", "Doctor", new { DoctorID = item.Id })'"><i class="fa fa-folder"></i> Patient History </button></td>
                </tr>
            }
        </tbody>
    </table>
</div>